// light theme
// dark theme
$black-bg: #18191a; //solid bg-primary
$dark-solid-bg: #242626; //solid bg second
$light-solid-black:#3a3b3c; //card bg primary
$solid-back-card: #242526; //card-bg-second
$dark-hover: #3d4042; 
$icon-black-bg: #393c3c; //icon -bg
$icon: #e4e6ea; //icon
$primary-text:rgba(228, 230, 235, .5); //text-primary
$second-text: #abafc7; //text-secondry
$sub-heading:hsla(216, 6%, 84%, 0.5);
$cherry-pink: #c8135c;
$heading: #e4e6ea;
$sky-blue:#00aced;
// comman 
$purple:#191f5d;